*{
	margin: 0;
	box-sizing: border-box; 
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	background-size: cover;
	background-repeat: no-repeat;

}

#email{
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}

.form-control:focus{
	outline: none;
	box-shadow: 0 0 2px blue;
}

.page-title {
	text-align: center;
}

.registration-form {
	width: 800px;
    margin: auto;
}

.valid-feedback, .invalid-feedback{
    display: none;
}
